<%

sidenav = capture do %>
  <div id="toc" class="api">
    <ul class="nav level-1">
      <li><a href="#_top"><%= t.name %></a></li>
      <ul class="nav level-2">
<%
end

module_name, dot, type_name = t.name.rpartition '.'

wrap_layout :sidebar do %>

  <div class="page-header">
    <h1><%= t.name %> <small><%= t.kind %></small></h1>
  </div>

  <div class="hl doc">
    <%= doc_render "#{t.doc_caption}\n{:.lead}" %>
    <%= doc_render t.doc_body %>
  </div>

  <%
  #--- Meta -------------------------------------------------------------------
  %>
  <ul class="meta">
    <li><i class="fa fa-fw fa-tags"></i> <strong>Tags:</strong>
      <ul class="tag-list">
      <% t.tags.each do |name| %>
      <li><a href="/<%= Coral::api_path m.name %>#<%= name %>"><%= name.titleize %></a></li>
      <% end %>
      </ul>
    </li>
    <li><i class="fa fa-fw fa-link"></i> <strong>Referenced from
      <% if t.backrefs.empty? %>0 types.</strong><% else %>
        <%= pluralize(t.backrefs.size, 'type') %>:</strong>
        <%= t.backrefs.keys.map { |t| doc_link(t.name) }.join(", ") %>.
      <% end %>
    </li>
  </ul>

  <%
  #--- Hierarchy --------------------------------------------------------------
  if t.kind == 'interface'
    sidenav << '<li><a href="#_hierarchy"><i class="fa fa-fw fa-sitemap"></i>
      Hierarchy</a></li>'
  %>
    <h2 id="_hierarchy"><i class="fa fa-fw fa-sitemap"></i> Hierarchy</h2>
    <div class="hierarchy">
      <% n = 0; supertypes_of(t).reverse_each do |sup| ++n %>
        <ul><li><span><%= doc_link(sup) %></span><%=
          doc_plain doc.types[sup].doc_caption %></li>
      <% end %>
      <ul>
        <li><span><strong><%= t.name %></strong></span><%= doc_plain t.doc_caption %></li>
        <% unless t.subtypes.blank? %>
          <ul class="subtypes"><li><%= pluralize(t.subtypes.size, 'known subtype') %>: <%=
            t.subtypes.map { |sub| doc_link(sub) }.join(", ") %>.</li></ul>
        <% end %>
      </ul>
      <% n.times do %></ul><% end %>
    </div>
  <%
  end

  #--- Fields -----------------------------------------------------------------
  fields = (t.members or {}).select{|x| x.kind == 'field' }
  unless fields.empty?
    sidenav << %Q{
      <li><a href="#_fields"><i class="fa fa-fw fa-flag-o"></i>
      Fields</a><ul class="nav level-3">}

  %>
    <h2 id="_fields"><i class="fa fa-fw fa-flag-o"></i> Fields</h2>
    <div class="member-list">
    <%
    fields.each do |field|
      sidenav << %Q{<li><a href="##{ field.name }" class="mono">#{ field.name }</a></li>}
    %>
      <div id="<%= field.name %>" class="member hl<%= ' collapsible' unless field.doc_body.blank? %>">
        <div class="proto"
          <% unless field.doc_body.blank? %>
            data-toggle="collapse" data-target="#<%= field.name %>_rest"
          <% end %>>
          <% if field.isReadOnly %><span class="k">readonly</span><% end %>
          <%= doc_link(field.type) %>
          <span class="heading nv"><%= field.name %></span>
        </div>
        <div class="doc">
          <%= doc_render "#{field.doc_caption}\n{:.lead}" %>
          <% unless field.doc_body.blank? %>
          <div id="<%= field.name %>_rest" class="collapse in">
            <%= doc_render field.doc_body %>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
    <%
    sidenav << '</ul></li>'
  end

  #--- Methods ----------------------------------------------------------------
  methods = (t.members or {}).select{ |x| x.kind == 'method' }
  unless methods.empty?
    sidenav << %Q{<li><a href="#_methods"><i class="fa fa-fw fa-exchange"></i>
      Methods</a><ul class="nav level-3">}
  %>
    <h2 id="_methods"><i class="fa fa-fw fa-exchange"></i> Methods</h2>
    <div class="member-list">
    <%
    methods.each do |method|
      sidenav << %Q{<li><a href="##{ method.name }" class="mono">#{ method.name }</a></li>}
    %>
      <div id="<%= method.name %>" class="member hl<%= ' collapsible' unless method.doc_body.blank? %>">
        <div class="proto"
          <% unless method.doc_body.blank? %>
            data-toggle="collapse" data-target="#<%= method.name %>_rest"
          <% end %>><p>
          <%= doc_link(method.returnType) %>
          <span class="heading nf"><%= method.name %></span><span
          class="paren">(</span><% method.parameters.each_with_index do |p,i|
          %><%= %Q{#{i>0 ? ', ' : ''}<span class="k">#{p.mode}</span>&nbsp;#{
              doc_link(p.type)}&nbsp;<span class="nl">#{p.name}</span>}
          %><% end %><span class="paren">)</span></p>
        </div>
        <div class="doc">
          <%= doc_render "#{method.doc_caption}\n{:.lead}" %>
          <%
          out = {}
          rest_html = doc_render method.doc_body, out
          unless method.doc_body.blank? %>
          <div id="<%= method.name %>_rest" class="collapse in"><%= rest_html %></div>
          <% end %>
          <% method.exceptions.each do |e| unless out[:raises][e] %>
          <p><em>Raises undocumented exception <%= doc_link e %>.</em></p>
          <% end end %>
        </div>
      </div>
    <% end %>
    </div>
    <%
    sidenav << '</ul></li>'
  end

  #--- C++ Block --------------------------------------------------------------
  unless t.cpp.blank?
    sidenav << '<li><a href="#_cpp"><i class="fa fa-fw fa-code"></i>
      Embedded C++</a></li>'
  %>
    <h2 id="_cpp"><i class="fa fa-code"></i> Embedded C++</h2>
    <%= coral_highlight('cpp') do t.cpp end %>
  <%
  end

  #--- Component Ports --------------------------------------------------------
  if t.kind == 'component'
    provides = t.members.select{|x| x.kind == 'facet' }
    consumes = t.members.select{|x| x.kind == 'receptacle' }

    unless provides.empty?
      sidenav << %Q{<li><a href="#_fields"><i class="fa fa-fw fa-circle"></i>
        Facets</a><ul class="nav level-3">}
    %>
      <h2 id="_facets"><i class="fa fa-fw fa-circle"></i> Facets</h2>
      <div class="member-list">
      <%
      provides.each do |p|
        sidenav << %Q{<li><a href="##{ p.name }" class="mono">#{ p.name }</a></li>}
      %>
        <div id="<%= p.name %>" class="member hl<%= ' collapsible' unless p.doc_body.blank? %>">
          <div class="proto"
            <% unless p.doc_body.blank? %>
              data-toggle="collapse" data-target="#<%= p.name %>_rest"
            <% end %>>
            <%= doc_link(p.type) %>
            <span class="heading nv"><%= p.name %></span>
          </div>
          <div class="doc">
            <%= doc_render "#{p.doc_caption}\n{:.lead}" %>
            <% unless p.doc_body.blank? %>
            <div id="<%= p.name %>_rest" class="collapse in">
              <%= doc_render p.doc_body %>
            </div>
            <% end %>
          </div>
        </div>
      <% end %>
      </div>
    <%
      sidenav << '</ul></li>'
    end

    unless consumes.empty? 
      sidenav << %Q{<li><a href="#_fields"><i class="fa fa-fw fa-circle-o"></i>
        Receptacles</a><ul class="nav level-3">}
    %>
      <h2 id="_receptacles"><i class="fa fa-fw fa-circle-o"></i> Receptacles</h2>
      <div class="member-list">
      <% consumes.each do |p| %>
        <div id="<%= p.name %>" class="member hl<%= ' collapsible' unless p.doc_body.blank? %>">
          <div class="proto"
            <% unless p.doc_body.blank? %>
              data-toggle="collapse" data-target="#<%= p.name %>_rest"
            <% end %>>
            <%= doc_link(p.type) %>
            <span class="heading nv"><%= p.name %></span>
          </div>
          <div class="doc">
            <%= doc_render "#{p.doc_caption}\n{:.lead}" %>
            <% unless p.doc_body.blank? %>
            <div id="<%= p.name %>_rest" class="collapse in">
              <%= doc_render p.doc_body %>
            </div>
            <% end %>
          </div>
        </div>
      <% end %>
      </div>
    <%
      sidenav << '</ul></li>'
    end

  end

  #--- Enum Identifiers -------------------------------------------------------
  if t.kind == 'enum'
    sidenav << %Q{<li><a href="#_ids"><i class="fa fa-fw fa-bars"></i> Identifiers</a>}
  %>
    <h2 id="_ids"><i class="fa fa-fw fa-bars"></i> Identifiers</h2>
    <table class="table table-striped table-condensed hl">
    <% t.identifiers.each_with_index do |id, i| %>
      <tr id="<%= id.id %>">
        <td><%= i %></td>
        <td><span class="code no"><%= id.id %></span></td>
        <td><%= doc_render(id.doc) %></td>
      </tr>
    <% end %>
    </table>
  <%
  end

  concat yield

  sidenav << '</ul></ul></div>'
  content_for :sidenav do sidenav end

end %>