<% wrap_layout :base do %>
<div class="container">
  <div class="row">
    <div class="col-md-3 hidden-print" role="complementary">
      <div class="sidebar">
        <%= yield_content :sidenav %>
      </div>
    </div>
    <div class="col-md-9" role="main">
      <a id="_top"></a>
      <ol class="breadcrumb">
        <li><a href="/">Coral</a></li>
      <%
        lineage = page_lineage(current_page)
        lineage.each_with_index do |p, i|
      %>
        <li><a href="<%= p.url %>"><%= page_title(p) %></a></li>
      <% end %>
        <li class="active"><%= page_title(current_page) %></li>
      </ol>
      <%= yield %>
    </div>
  </div>
</div>
<% end %>